body {
    background: url("../img/astronaut.jpg");
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
}

form.form-signin{

    margin-left: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    text-align: center !important;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 3px solid black;
}
