<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="../static/css/beitragsansicht.css" rel="stylesheet" th:href="@{/css/beitragsansicht.css}">
    <title>Beitragsansicht</title>
</head>
<body>


<div class="beitragContainer">
    <div class="container">
        <div class="row">
            <div class="col text center layout">

                <form id="ziel1" th:object="${target}" method="get">
                    <!--Scrolling Box-->
                    <div style="width:900px;height:500px;overflow:auto;padding:5px;">

                        <!--Beitrag anzeigen-->
                        <h2>Beitragsansicht:</h2>
                        <h5 th:text="${#dates.format(beitrag.creationDate, 'dd-MMM-yyyy HH:mm')}">Datum</h5>
                        <span id="author">Author: </span><span id="author" th:text="${beitrag.getUser().getName()}">  Username</span>
                        <span class="beitragtitel" th:text="${beitrag.title}"> Title </span>
                        <br><br>
                        <span class="beitragstext" th:text="${beitrag.text}"> Text </span>
                        <br><br>

                        <!--Kommentare anzeigen-->
                        <h3>Kommentare:</h3>
                        <span th:if="${kommentarList.empty}">Aktuell wurde noch kein Kommentar verfasst! </span>
                        <tr th:each="kommentar : ${kommentarList}">
                            <td>
                                <span th:text="${#dates.format(kommentar.creationDate, 'dd-MMM-yyyy HH:mm')}">Datum</span>
                                <span id="kommentierer" th:text="${kommentar.getUser().getName()}">Username</span><span id="kommentierer"> schreibt:</span>
                                <div class="kommentarTitle" th:text="${kommentar.getKommentarTitle()}" th:width="400px"
                                     th:height="auto">Kommentar
                                </div>
                            </td>
                        </tr>
                    </div>
                </form>

                <!--Kommentar erstellen-->
                <div th:if="${currentUser!=null}">

                    <form th:action="@{/kommentar(beitragId=${beitragId})}" th:object="${kommentarDTO}" method="post">
                        Kommentar Text: <input type="text" th:field="*{kommentarTitle}">
                        <div th:if="${#fields.hasErrors('kommentarTitle')}" th:errors="*{kommentarTitle}"></div>
                        <button type="submit" class="btn btn-outline-dark ">Kommentar erstellen</button>
                    </form>
                </div>
                <!--Beitrag löschen und bearbeiten-->
                <div th:if="${currentUser!=null && currentUser.isAdmin()}">
                    <a th:href="@{/beitragBearbeiten(beitragId=${beitragId})}" class="btn btn-outline-dark needMargin">Beitrag
                        bearbeiten</a>
                    <form th:action="@{/beitragLoeschen(beitragId=${beitragId})}" th:object="${beitrag}" method="post">
                        <button type="submit" class="btn btn-outline-danger delete-btn">Beitrag löschen</button>
                    </form>
                </div>

                <!--Button führt wieder in die Home-Ansicht-->
                <form th:action="@{/}" method="get">
                    <button class="btn btn-outline-primary lastMargin" type="submit">Zurück</button>
                </form>

            </div>
        </div>
    </div>
</div>


</body>
</html>