<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link href="../static/css/helper.css" rel="stylesheet" th:href="@{/css/helper.css}">
    <title>Beitrag erstellen</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta charset="utf-8">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">


</head>
<body>


<div class="text-center">
    <form class="form-signin" th:action="@{/beitrag}" th:object="${beitrag}" method="post">
        <img class="mb-4" src="img/Logo_1.Entwurf.png" alt="Logo" style="border-radius:10px">
        <h1 class="h3 mb-3 font-weight-normal"></h1>
        <label for="inputEmail" class="sr-only"></label>
        <input type="text" th:field="*{title}" id="inputEmail" class="form-control" placeholder="Title" required=""
               autofocus="">
        <label for="inputPassword" class="sr-only"></label>
        <input type="text" th:field="*{text}" id="inputPassword" class="form-control" placeholder="Text" required="">
        <div class="checkbox mb-3">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Erstelle Beitrag</button>

    </form>

</div>
</body>
</html>